# Override only values that conflict with your local Docker/VPN environment.
network_name    = "servir-platform"
network_subnet  = "172.28.0.0/24"
network_gateway = "172.28.0.1"

postgres_port              = 5432
postgres_database          = "servir"
postgres_migrator_user     = "servir_migrator"
postgres_migrator_password = "servir_migrator_local"

kafka_external_port      = 29092
kafka_cluster_id         = "MkU3OEVBNTcwNTJENDM2Qk"
volume_initializer_image = "busybox:1.37.0"

otel_collector_image = "otel/opentelemetry-collector-contrib:0.157.0"
otel_http_port       = 4318
jaeger_image         = "cr.jaegertracing.io/jaegertracing/jaeger:2.20.0"
jaeger_ui_port       = 16686
