POSTGRES_IMAGE=postgres:18.4-alpine
LIQUIBASE_IMAGE=liquibase/liquibase:4.33.0

POSTGRES_PORT=5432
POSTGRES_DB=servir
POSTGRES_MIGRATOR_USER=servir_migrator
POSTGRES_MIGRATOR_PASSWORD=servir_migrator_local

