kafka_bootstrap_servers = ["localhost:29092"]

topics = {
  organizations_events = {
    name               = "servir.organizations.events"
    partitions         = 3
    replication_factor = 1
  }
  membership_events = {
    name               = "servir.membership.events"
    partitions         = 3
    replication_factor = 1
  }
  ministries_events = {
    name               = "servir.ministries.events"
    partitions         = 3
    replication_factor = 1
  }
}
